<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>API shield</title> 
        <meta property="og:image" content="https://telegra.ph/file/02b3794db6d81e1ccf3c9.jpg">
        <link rel="shortcut icon" href="https://telegra.ph/file/02b3794db6d81e1ccf3c9.jpg"/>  
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="logo">
                <h4>Shield API</h4>
            </div>

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">API</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">About</a></li>
            </ul>
            <div class="menu-toggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <section class="contact" id="contact">
            <div class="con">
            <h1 class="heading"> <span>DOW</span>LOADER</h1>
                        <li><a href="api/dowloader/fbdown?url=https://www.facebook.com/UstazAzharIdrusFansClub/videos/813224618838631"><button class="btn">Facebook</button></a></li>
                        <li><a href="api/dowloader/twitter?url=https://twitter.com/faqeeyaaz/status/1242789155173617664?s=20&t=DRgdl9U8MwTwpY0o1o-96g"><button class="btn">Twitter</button></a></li>
                        <li><a href="api/dowloader/tikok?url=https://vt.tiktok.com/ZSdqSfBxG/?k=1"><button class="btn">Tiktok Mp4 Mp3</button></a></li>
                        <li><a href="api/dowloader/igstory?username=aniq_shaaheen"><button class="btn">Instagram Story</button></a></li>
                        <li><a href="api/dowloader/igreels?url=https://www.instagram.com/reel/CPKMOwvlfSB/?igshid=YmMyMTA2M2Y="><button class="btn">Instagram Reels</button></a></li>
                        <li><a href="api/dowloader/igreels?url=https://www.instagram.com/reel/CPKMOwvlfSB/?igshid=YmMyMTA2M2Y="><button class="btn">Instagram Video Picture</button></a></li>
                        <li><a href="api/dowloader/yt?url=https://youtu.be/3hXbjp-FcTc"><button class="btn">Youtube Mp4 Mp3</button></a></li>
                        <li><a href="api/dowloader/soundcloud?url=https://soundcloud.com/ndaa-212683099/dj-coba-kau-ingat-ingat-kembali-seharusnya-aku-jungle-dutch-terbaru-2021-full-bass-viral-tik?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"><button class="btn">SoundCloud</button></a></li>
                        <li><a href="api/dowloader/telesticker?url=https://t.me/addstickers/Shitsshitsshitsshists"><button class="btn">Tele Sticker</button></a></li>
            <h1 class="heading"> <span>Text</span> Pro</h1>
                        <li><a href="api/dowloader/igreels?url=https://www.instagram.com/reel/CPKMOwvlfSB/?igshid=YmMyMTA2M2Y="><button class="btn">Instagram Video Picture</button></a></li>
                        <li><a href="api/textpro/pencil?text=Shield" target="_blank"><button class="btn">Pencils</button></a></li>
                        <li><a href="api/textpro/glitch?text=Shield" target="_blank"><button class="btn">Glitch</button></a></li>
                        <li><a href="api/textpro/berry?text=Shield" target="_blank"><button class="btn">Berry</button></a></li>
                        <li><a href="api/textpro/blackpink?text=Shield" target="_blank"><button class="btn">Black pink</button></a></li>
                        <li><a href="api/textpro/neon?text=Shield" target="_blank"><button class="btn">Neon</button></a></li>
                        <li><a href="api/textpro/logobear?text=Shield" target="_blank"><button class="btn">Logo Bear</button></a></li>
                        <li><a href="api/textpro/3dchristmas?text=Shield" target="_blank"><button class="btn">3D Chrstmas</button></a></li>
                        <li><a href="api/textpro/thunder?text=Shield" target="_blank"><button class="btn">Thunde</button></a></li>
                        <li><a href="api/textpro/3dboxtext?text=Shield" target="_blank"><button class="btn">3D Box</button></a></li>
                        <li><a href="api/textpro/glitch2?text=Shield&text2=pro" target="_blank"><button class="btn">Glitch2</button></a></li>
                        <li><a href="api/textpro/glitchtiktok?text=Shield&text2=pro" target="_blank"><button class="btn">Glitch Tiktok</button></a></li>
                        <li><a href="api/textpro/video-game-classic?text=Shield&text2=pro" target="_blank"><button class="btn">Video Game Classic</button></a></li>
                        <li><a href="api/textpro/marvel-studios?text=Shield&text2=pro" target="_blank"><button class="btn">Marvel Studios</button></a></li>
                        <li><a href="api/textpro/ninja-logo?text=Shield&text2=pro" target="_blank"><button class="btn">Ninja Logo</button></a></li>
                        <li><a href="api/textpro/transformer?text=Shield" target="_blank"><button class="btn">Transfrmer</button></a></li>
                        <li><a href="api/textpro/green-horror?text=Shield" target="_blank"><button class="btn">Green Horrorer</button></a></li>
                        <li><a href="api/textpro/magma?text=Shield" target="_blank"><button class="btn">Magma</button></a></li>
                        <li><a href="api/textpro/3d-neon-light?text=Shield" target="_blank"><button class="btn">3d Neon Light</button></a></li>
                        <li><a href="api/textpro/3d-orange-juice?text=Shield" target="_blank"><button class="btn">3d Orage Juice</button></a></li>
                        <li><a href="api/textpro/chocolate-cake?text=Shield" target="_blank"><button class="btn">Chocolate Cake</button></a></li>
                        <li><a href="api/textpro/strawberry?text=Shield" target="_blank"><button class="btn">Strawberry</button></a></li>
                <h1 class="heading"> <span>Photooxy</span></h1>
                        <li><a href="api/photooxy/flaming?text=Shield" target="_blank"><button class="btn">Flaming</button></a></li>
                        <li><a href="api/photooxy/shadow-sky?text=Shield" target="_blank"><button class="btn">Shadow Sky</button></a></li>
                        <li><a href="api/photooxy/metallic?text=Shield" target="_blank"><button class="btn">Metallic</button></a></li>
                        <li><a href="api/photooxy/naruto?text=Shield" target="_blank"><button class="btn">Naruto</button></a></li>
                        <li><a href="api/photooxy/pubg?text=Pubg&text2=Shield" target="_blank"><button class="btn">PUBG</button></a></li>
                        <li><a href="api/photooxy/under-grass?text=Shield" target="_blank"><button class="btn">Under Grass</button></a></li>
                        <li><a href="api/photooxy/harry-potter?text=Shield" target="_blank"><button class="btn">Harry Potter</button></a></li>
                        <li><a href="api/photooxy/flower-typography?text=Shield" target="_blank"><button class="btn">Flower Typography</button></a></li>
                        <li><a href="api/photooxy/picture-of-love?text=Shield" target="_blank"><button class="btn">Picture Of Love</button></a></li>
                        <li><a href="api/photooxy/coffee-cup?text=Shield" target="_blank"><button class="btn">Coffee Cup</button></a></li>
                        <li><a href="api/photooxy/butterfly?text=Shield" target="_blank"><button class="btn">Butterfly</button></a></li>
                        <li><a href="api/photooxy/night-sky?text=Shield" target="_blank"><button class="btn">Night Sky</button></a></li>
                        <li><a href="api/photooxy/carved-wood?text=Shield" target="_blank"><button class="btn">Carved Wood</button></a></li>
                        <li><a href="api/photooxy/illuminated-metallic?text=Shield" target="_blank"><button class="btn">Illuminated Metallic</button></a></li>
                        <li><a href="api/photooxy/sweet-candy?text=Shield" target="_blank"><button class="btn">Sweet Candy</button></a></li>
                <h1 class="heading"> <span>Random Image</span></h1>
                        <li><a href="api/randomgambar/couplepp" target="_blank"><button class="btn">Couple</button></a></li>
                        <li><a href="api/randomgambar/dadu" target="_blank"><button class="btn">Dadu</button></a></li>
                        <li><a href="api/randomgambar/coffee" target="_blank"><button class="btn">Coffee</button></a></li>
                        <li><a href="api/randomgambar/loli" target="_blank"><button class="btn">loli</button></a></li>
                <h1 class="heading"> <span>Search</span></h1>
                        <li><a href="api/search/ytplay?text=lagu%dj" target="_blank"><button class="btn">Yt Play</button></a></li>
                        <li><a href="api/search/linkgroupwa?text=belajar" target="_blank"><button class="btn">Group WA</button></a></li>
                        <li><a href="api/search/pinterest?text=al-quran" target="_blank"><button class="btn">Pinterest</button></a></li>
                        <li><a href="api/search/ringtone?text=samsung" target="_blank"><button class="btn">Ringtone</button></a></li>
                        <li><a href="api/search/wikimedia?text=Malaysia" target="_blank"><button class="btn">Wikimedia</button></a></li>
                        <li><a href="api/search/google?text=Mobile%20Legends" target="_blank"><button class="btn">Google</button></a></li>
                        <li><a href="api/search/googleimage?text=Mobile%20Legends" target="_blank"><button class="btn">Google Image</button></a></li>
                        <li><a href="api/search/wallpaper?text=Mobile%20Legends" target="_blank"><button class="btn">Wallpaper</button></a></li>
                        <li><a href="api/search/sticker?text=fun" target="_blank"><button class="btn">Sticker</button></a></li>
            </div>
            
        <div class="border">
        <div class="home">
        <h2 class="home1">IP ANDRESS</h2>
        <h2 class="date"> Date</h2>
        </div>
        <div class="jam1">
        <h2 class="jam" style="font-size: 50px; font-family: verdana;" id="jam"></h2>
        </div>
        <div class="visitor">
        <h2 class="visitor1">Visitor</h2>
        <div class="website-counter"></div>
        </div>
        <div class="ipc">
        <div id="findipurl"> <a href="find-ip.net" ></a></div>
        <script defer src="https://api.find-ip.net/widget.js?width=200&bg=%23152232&border=%230e1824&textcol=%23d3d5f3&language=0&system=0&"></script>
        </div>
        </div>
        </section>
    
<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
<script>window.onload = function() { jam(); }
function jam() {
var e = document.getElementById('jam'),
d = new Date(), h, m, s;
h = d.getHours();
m = set(d.getMinutes());
s = set(d.getSeconds());

e.innerHTML = h +':'+ m +':'+ s;

setTimeout('jam()', 1000);
}

function set(e) {
e = e < 10 ? '0'+ e : e;
return e;
}</script>
<script> var counterContainer = document.querySelector(".website-counter");
var resetButton = document.querySelector("#reset");
var visitCount = localStorage.getItem("page_view");

// Check if page_view entry is present
if (visitCount) {
visitCount = Number(visitCount) + 1;
localStorage.setItem("page_view", visitCount);
} else {
visitCount = 1;
localStorage.setItem("page_view", 1);
}
counterContainer.innerHTML = visitCount;

// Adding onClick event listener
resetButton.addEventListener("click", () => {
visitCount = 1;
localStorage.setItem("page_view", 1);
counterContainer.innerHTML = visitCount;
});</script>
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
<script>const toggle1 = document.querySelector('.menu-toggle input');
const nav = document.querySelector('nav ul');

toggle1.addEventListener('click', function(){
    nav.classList.toggle('slide')
});</script>
          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    </body>
</html>