<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>API shield</title> 
        <meta property="og:image" content="https://telegra.ph/file/02b3794db6d81e1ccf3c9.jpg">
        <link rel="shortcut icon" href="https://telegra.ph/file/02b3794db6d81e1ccf3c9.jpg"/>  
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="logo">
                <h4>Shield API</h4>
            </div>

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/api" class="api">API</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">About</a></li>
            </ul>
            <div class="menu-toggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
    <script src="script.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    </body>
</html>